.ship-summary {
    background: var(--white);
    border: 1px solid var(--border);
    padding: 15px 16px;
    margin-top: 15px;

    .ship-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 24px;
            font-weight: 500;
        }

        .edit-btn {
            background: none;
            border: none;

            font-size: 14px;
            font-weight: 600;
            color: #000;

            cursor: pointer;

            display: flex;
            align-items: center;
            gap: 4px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid #555;
        margin: 10px 0 15px;
    }

    .ship-info {
        p {
            margin: 8px 0;
            font-size: 16px;
            color: #000;

            strong {
                font-weight: 500;
            }
        }
    }
}
